.container
{
	max-width : 100%;
}
.background-blue
{
  background: linear-gradient(90deg, hsla(176, 53%, 55%, 1) 19%, hsla(201, 17%, 40%, 1) 100%);
}
.background-grey
{
	background: #243739;
	padding: 20px;
  border: none;
}
.titleText {
	color: rgb(243, 245, 238);
	font-size:xx-large;
	font-weight: 500;
	text-align: center;
	margin: 20px;
}
.expired-notice {
  text-align: center;
  padding: 20px;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  margin: 10px;
}
.expired-notice > span {
  font-size: 8.5rem;
  font-weight: bold;
  color: white;
}
.expired-notice > p {
  font-size: 18px;
  color: white;
}
.show-counter .countdown {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.show-counter .countdown {
  color: white;
}
.show-counter .countdown > p {
  margin: 0;
	font-size: 95px;
	font-weight: 200;
}
.show-counter .countdown > span {
  text-transform: uppercase;
  font-size: 18px;
	font-weight: 100;
	border: 1px solid #fff;
	padding: 5px;
	border-radius: 8px;
}
.navigation-arrow {
  margin: 0 auto;
  text-align: center;
 font-size: 5rem;
 font-weight: bold;
 color: white;
 text-decoration: none;
}
.count-down-content {
  margin: 0 auto;
}